#card {
    position: relative;
    padding: 15px;
    background-color: rgba(255, 228, 196, 0.767);

    h2 {
        border-bottom: 1px solid rgb(66, 66, 66);
        padding-bottom: 15px;
    }

    h3 {
        margin: 15px 0;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    button {
        position: absolute;
        top: 15px;
        right: 10px;
        padding: 3px 10px;
        border: none;
        background-color: rgb(40, 180, 226);
        border-radius: 5px;
        cursor: pointer;
        color: white;
        
    }
}