p:first-child {
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 5px;
  text-align: left;
}

p:nth-child(2) {
  text-transform: lowercase;
  text-decoration: line-through;
  line-height: 2;
  text-align: right;
}

p:nth-child(3) {
  text-align: center;
}

ul {
  background-color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.253);
  list-style: none;
}

a:link,
a:visited {
  color: red;
  text-decoration: none;
}

a:hover {
  color: green;
}

a:active {
  color: blue;
}
