* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: pink;
}

ul {
    background-color: yellow;
    border: 3px solid green;

    li {
        background-color: purple;
        &:hover {
            background-color: aqua;
        }

    }
}

header {
    background-color: red;
    height: 200px;

    @media screen and(min-width: 768px) {
        background-color: pink;
    }

    @media screen and(min-width: 1200px) {
        background-color: blue;
    }
}